
/* Style and font imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');




/* Style rest defaults */
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',
  sans-serif;
}